<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="wigzo" translate="label" sortOrder="99999">
            <label>Wigzo</label>
        </tab>
        <section id="wigzo_service" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>wigzo</tab>
            <resource>Wigzo_Service::wigzo_service</resource>
            <group id="info" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <frontend_model>Wigzo\Service\Block\Info</frontend_model>
            </group>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wigzo Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Wigzo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>wigzo_settings/general/enabled</config_path>
                    <comment>Is Wigzo Enabled?</comment>
                </field>
                <field id="siteurl" translate="label" type="label" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Your Secure Store URL</label>
                    <frontend_model>Wigzo\Service\Block\StoreUrl</frontend_model>
                </field>
                <field id="secret" translate="label" type="label" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Your Wigzo Secret Key</label>
                    <frontend_model>Wigzo\Service\Block\SecretKey</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
